<div class="page">
  <t-grid
    [data]="data"
    [pageSize]="10"
    [sortable]="true"
    (paginationChange)="paginationChangedOnDataGrid($event)"
    (sortChange)="sortChangedOnDataGrid($event)"
  >
    <t-column name="Name" property="name" [sortable]="true" />
    <t-column
      name="Position"
      property="position"
      [sortable]="false"
      appTableHead
    />
    <t-column
      name="Company"
      property="company"
      [sortable]="true"
      appTableHead
    />
    <div>hello</div>
  </t-grid>
</div>
