.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-normal);

  button:hover,
  button:focus,
  button:active {
    color: var(--text-highlight);
  }
}

/* table general */

.data-grid {
  border-collapse: collapse;

  td {
    padding: 0.5rem 1rem;
    border: 1px solid var(--border-primary);
    text-align: center;
  }

  th {
    padding: 0.5rem 1rem;
    text-align: center;
  }
}

.column-head {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: none;
  padding: 0;
  font-size: 1.1rem;
  color: var(--text-contrast);
  cursor: pointer;
}

/* page size */

.page-size {
  border: none;
  display: flex;
  padding: 0;
  margin: 0;

  input {
    background-color: transparent;
    color: var(--text-primary);
    font-size: 1rem;
    border: none;
    outline: none;
    -moz-appearance: textfield;
    appearance: textfield;
    width: 2rem;
    text-align: center;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  label {
    display: flex;
    align-items: center;
    margin-right: var(--gap-small);
  }

  button {
    background-color: transparent;
    cursor: pointer;
    color: var(--text-primary);
    border: none;
    font-size: 1.2rem;
    padding: 0.2rem 0.1rem;
    width: 1.5rem;
  }
}

/* page selector */

.page-selector {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  span {
    grid-column-start: 2;
    grid-column-end: 3;
    display: flex;
    align-items: center;
  }
}

button.arrow {
  background-color: transparent;
  cursor: pointer;
  color: var(--text-primary);
  border: none;
  font-size: 1.2rem;
  width: 3rem;
  padding: 0.2rem;
}

.arrow:first-child {
  justify-self: end;
}
