<div class="container">
  <fieldset class="page-size" data-testid="page-size">
    <label for="pageSize">Page Size</label>
    <button
      [disabled]="pageSize == null || pageSize <= 1"
      type="button"
      (click)="decreasePageSize()"
    >
      -
    </button>
    <input
      id="pageSize"
      type="number"
      min="1"
      [max]="sortedData.length"
      [value]="pageSize ?? sortedData.length"
      (change)="onPageSizeChange($event)"
    />

    <button
      [disabled]="pageSize == null || pageSize >= sortedData.length"
      type="button"
      (click)="increasePageSize()"
    >
      +
    </button>
  </fieldset>

  <table class="data-grid" data-testid="table">
    <tr>
      <th data-testid="header" *ngFor="let column of tableColumns">
        <button
          class="column-head"
          (click)="sortData(column.property, column.sortable)"
          data-testid="header-button"
        >
          <t-column
            [name]="column.name"
            [property]="column.property"
            [sortable]="column.sortable"
          />
        </button>
      </th>
    </tr>

    <tr *ngFor="let item of shownData" data-testid="row">
      <td *ngFor="let property of properties" data-testid="cell">
        {{ item[property] }}
      </td>
    </tr>
  </table>
  <div class="page-selector" data-testid="page-navigator">
    <button
      *ngIf="previousAvailable"
      type="button"
      (click)="goPreviousPage()"
      class="arrow"
      data-testid="previous"
    >
      &#60;
    </button>

    <span>Page {{ page }} / {{ pages }}</span>

    <button
      *ngIf="nextAvailable"
      type="button"
      (click)="goNextPage()"
      class="arrow"
      data-testid="next"
    >
      &#62;
    </button>
  </div>
</div>
