<table class="data-grid">
  <thead>
    <tr>
      <ng-container *ngFor="let column of tableColumns">
        <th>
          <button (click)="sortData(column.property)">
            <t-column
              [name]="column.name"
              [property]="column.property"
              [sortable]="column.sortable"
            />
          </button>
        </th>
      </ng-container>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of shownData">
      <td *ngFor="let property of properties">{{ item[property] }}</td>
    </tr>
  </tbody>
</table>
<div>
  <button *ngIf="previousAvailable" type="button" (click)="goPreviousPage()">
    Previous
  </button>
  <span>Page {{ page }} / {{ pages }}</span>
  <button *ngIf="nextAvailable" type="button" (click)="goNextPage()">Next</button>
  <fieldset>
    <label for="pageSize">Page Size</label>
    <input
      id="pageSize"
      type="number"
      [value]="pageSize"
      (change)="onPageSizeChange($event)"
    />
  </fieldset>
</div>
