<div class="container">
  <fieldset class="page-size">
    <label for="pageSize">Page Size</label>
    <button
      [disabled]="pageSize == null || pageSize <= 1"
      type="button"
      (click)="decreasePageSize()"
    >
      -
    </button>
    <input
      id="pageSize"
      type="number"
      min="1"
      [max]="sortedData.length"
      [value]="pageSize"
      (change)="onPageSizeChange($event)"
    />

    <button
      [disabled]="pageSize == null || pageSize >= sortedData.length"
      type="button"
      (click)="increasePageSize()"
    >
      +
    </button>
  </fieldset>

  <table class="data-grid">
    <tr>
      <ng-container *ngFor="let column of tableColumns">
        <th>
          <button class="column-head" (click)="sortData(column.property)">
            <t-column
              [name]="column.name"
              [property]="column.property"
              [sortable]="column.sortable"
            />
          </button>
        </th>
      </ng-container>
    </tr>

    <tr *ngFor="let item of shownData">
      <td *ngFor="let property of properties">{{ item[property] }}</td>
    </tr>
  </table>

  <div class="page-selector">
    <button
      *ngIf="previousAvailable"
      type="button"
      (click)="goPreviousPage()"
      class="arrow"
    >
      &#60;
    </button>

    <span>Page {{ page }} / {{ pages }}</span>

    <button
      *ngIf="nextAvailable"
      type="button"
      (click)="goNextPage()"
      class="arrow"
    >
      &#62;
    </button>
  </div>
</div>
