.page {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--gap-large);
  margin-top: 5rem;
}

.component-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
}

.progress-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  height: 16rem;
  padding-bottom: 3rem;
}

.controls {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  gap: var(--gap-normal);
  width: 20rem;
  padding: 1rem;
}

input[type="color"] {
  all: unset;
  height: 1.4rem;
  width: 100%;
  padding: 0;
  border: none;
  appearance: none;
  background-color: transparent;
  overflow: hidden;
}

input {
  cursor: pointer;
}
