:root {
  --text-primary: #ffffff;
  --text-secondary: #00152c;
  --text-contrast: #71a8ff;
  --text-highlight: #b0ceff;
  --background-primary: #00152c;
  --background-secondary: #ffffff;
}

* {
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}

html,
body,
p,
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}

html,
body,
app-root {
  height: 100%;
  color: var(--text-primary)
}

app-root {
  display: flex;
  flex-direction: column;
  background-color: var(--background-primary);
}

fieldset {
  border-color: var(--text-primary);
}
