:root {
  --text-primary: #ffffff;
  --text-secondary: #00152c;
  --text-contrast: #71a8ff;
  --text-highlight: #b0ceff;
  --background-primary: #00152c;
  --background-secondary: #ffffff;
  --border-primary: #223b56;
  --gap-small: 0.5rem;
  --gap-normal: 1rem;
  --gap-large: 2rem;
}

* {
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}

html,
body,
p,
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}

html,
body,
app-root {
  color: var(--text-primary);
}

html {
  display: flex;
}

body {
  flex-grow: 1;
  overflow: auto;
  background-color: var(--background-primary);
}

app-root {
  display: flex;
  flex-direction: column;
}

fieldset {
  border-color: var(--text-primary);
}
